# Virtual Environment
venv/
venvsource/

# Python Cache
*.cache
*.pyc
*.pyo
__pycache__/

# Gradio i pytest privremene datoteke
.gradio/
.pytest_cache/
.mypy_cache/

# Operativni sustav privremene datoteke
.DS_Store
*.log
*.tmp

# IDE postavke i datoteke
.vscode/
.idea/

